@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i');

*{
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.description{
  color: #7C8B88;
  font-size: 30px;
}
.app{
  display: flex;
}
.title{
  padding: 20px 20px 5px 20px;
  background: #33BEBE;
  color: white;
}
img{
  padding-right: 20px;
}
div{
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.col-1{
  width: 8.333%;
}
.col-2{
  width: 16.666%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.333%;
}
.col-5{
  width: 41.666%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.333%;
}
.col-8{
  width: 66.666%;
}
.col-9{
  width: 75%;
}
.col-10{
  width: 83.333%;
}
.col-11{
  width: 91.666%;
}
.col-12{
  width: 100%;
}
h1{
  font-weight: 100;
  font-size: 64px;
  padding: 0px;
  margin: 0px;
}
h2{
  padding: 0px;
  margin-top: 0px;
  font-size: 24px;
  font-weight: 300;
}
hr{
  border: 2px solid #ccc;
}
h3{
  font-size: 36px;
  margin: 10px;
  margin-left: 15px;
  font-weight: 400;
  color: #ccc;
}
h4{
  font-size: 38px;
  font-weight: 400;
  color: #666;
  margin: 10px;
  padding: 0px;
}
h5{
  font-size: 16px;
  font-weight: 100;
  color: #999;
  margin: 10px;
}
h6{

}
nav {
  width: 300px;
  height: 100px;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}
nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0,0); 
}

